body {
    background-color: white;
}

#colors-container {
    width: 30%;
    margin: 0 auto; 
    /* margin: 0 auto is to center this color-container  */
}

.square {
    background-color: aqua;
    width: 30%;
    padding-bottom: 30%;

    margin: 1.66%;
    float: left;
}

#header {
    width: 60%;
    height:30%;
    margin: 0 auto; 
    text-align: center;
    background-color: #1f2a44;
    padding-bottom: 1px;
}

#rgb {
    font-size: 40px;
}

#mymessage {
    font-size: 25px;
}

h1, #mymessage, #headline, #rgb {
    color: white;
}

#headline{
    font-size: 35px;
}

#line {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(221, 234, 250);
    height: 42px;
    padding-top: 5px;
}

p {
    margin: 1px;
}

.activeone{
    background-color:  rgb(175, 204, 241);
    font-weight: bold;
}


